<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
</head>

<body>
    <div class="Block1">
        <div class="Block1__box1"></div>
        <div class="Block1__box2"></div>
        <div class="Block1__box3 pink">Интернет Маркетолог</div>
        <div class="Block1__wrapper">
            <div class="Block1__head">
                <span class="Text__header black">
                    Екатерина Ильина
                </span>
            </div>
            <div class="Block1__subhead">
                <span class="Text_subheader silver">
                    Менеджер по маркетингу
                </span>
            </div>
            <div class="Block1__contacts">
                <div class="contacts_1">
                    <span class="Text_normal blue">https://t.me/kate_y_a</span>
                </div>
                <div class="contacts_2">
                    <span class="Text_normal blue">Ilinaea93@gmail.com</span>
                </div>
                <div class="contacts_3">
                    <span class="Text_normal blue">+7 (931) 364 - 55 - 28</span>
                </div>
            </div>
            <div class="Block1__about">
                <span class="Text_normal silver">Если вам нравится то, что я делаю, вы можете связаться со мной </span>
            </div>
        </div>
        <div class="Block2">
            <div>
                
            </div>
        </div>
    </div>
    <script src="assets/js/app.min.js"></script>

</body>

</html>