.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important; 
	width: 1px !important; 
	overflow: hidden;
}

.Text__header {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 77px;
    letter-spacing: -0.006em;
}
.Text_subheader {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 34px;
    letter-spacing: -0.006em;
}

.Text_normal {
    font-family: "ABeeZee";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
}

.silver {
    color: #4f4f4f;
}

.blue {
    color: #1abcfe;
}

.black {
    color: #292929;
}

.pink {
    color: #A259FF;
}

